<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <!--Root menu-->

    <menuitem id="larpem" name="Larpem" sequence="20" web_icon="larpem,static/description/icon.png" />

    <!--Sub menu-->

    <menuitem id="menu" name="Menu" sequence="1" parent="larpem" />
    <menuitem id="restaurant" name="Restaurant" sequence="1" parent="larpem" />

    <!--Child menu-->

    <menuitem id="banque" name="Banque" action="larpem_banque_banque_action_window" sequence="1" parent="menu" />

    <menuitem
        id="banque_compte"
        name="Banque compte"
        action="larpem_banque_compte_banque_compte_action_window"
        sequence="2"
        parent="menu"
    />

    <menuitem
        id="resto_commande_menu"
        name="Commande du restaurant"
        action="larpem_resto_commande_action_window"
        sequence="1"
        parent="restaurant"
    />

    <menuitem
        id="banque_transaction"
        name="Banque transaction"
        action="larpem_banque_transaction_banque_transaction_action_window"
        sequence="3"
        parent="menu"
    />

    <menuitem id="manuel" name="Manuel" action="larpem_manuel_manuel_action_window" sequence="4" parent="menu" />

    <menuitem
        id="personnage"
        name="Personnage"
        action="larpem_personnage_personnage_action_window"
        sequence="5"
        parent="menu"
    />

    <menuitem
        id="system_point"
        name="System point"
        action="larpem_system_point_system_point_action_window"
        sequence="6"
        parent="menu"
    />
</odoo>
